In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1434,tt0383574,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Gore Verbinski,Jack is back!,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/2006,6.8,2006
585,tt0244000,35000000,13678913,American Outlaws,Colin Farrell|Scott Caan|Ali Larter|Gabriel Ma...,Les Mayfield,Sometimes the wrong side of the law is the rig...,When a Midwest town learns that a corrupt rail...,94,Action|Western,Warner Bros. Pictures|Morgan Creek Productions,8/17/2001,5.8,2001
674,tt0960144,90000000,201596308,You Don't Mess With the Zohan,Adam Sandler|John Turturro|Emmanuelle Chriqui|...,Dennis Dugan,Lather. Rinse. Save the world.,An Israeli counterterrorism soldier with a sec...,113,Comedy|Action,Columbia Pictures|Happy Madison Productions|So...,6/5/2008,5.6,2008
812,tt0477302,40000000,55247881,Extremely Loud & Incredibly Close,Thomas Horn|Tom Hanks|Sandra Bullock|Max von S...,Stephen Daldry,"This is not a story about September 11th, it's...","A year after his father's death, Oskar, a trou...",129,Drama,Paramount Pictures|Scott Rudin Productions|War...,12/24/2011,7.0,2011
700,tt0871426,30000000,63833449,Baby Mama,Tina Fey|Amy Poehler|Dax Shepard|Sigourney Wea...,Michael McCullers,Would you put your eggs...in this basket?,"A successful, single businesswoman who dreams ...",99,Comedy,Relativity Media|Michaels-Goldwyn,4/23/2008,5.8,2008

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data.loc[data['budget']==data['budget'].max()]
display(test.original_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [11]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data.loc[data['runtime']==data['runtime'].max()]
display(test.original_title)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh'

In [13]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data.loc[data['runtime']==data['runtime'].min()]
display(test.original_title)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'

In [15]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data['runtime'].mean()
display(round(test))

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '107'

In [17]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data.runtime.median()
display(test)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = 'Avatar'

In [19]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
test = data.loc[data['profit']==data['profit'].max()]
display(test.original_title)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = 'The Lone Ranger'

In [21]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
test = data.loc[data['profit']==data['profit'].min()]
display(test.original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1478'

In [23]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data.query('profit>0').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight'

In [25]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
test = data.loc[data['release_year']==2008]
test = test.loc[test['revenue']==test['revenue'].max()]
display(test.original_title)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = 'The Lone Ranger'

In [27]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
test = data.loc[(data['release_year']>2011) & (data['release_year']<2015)]
test = test.loc[test['profit']==test['profit'].min()]
display(test.original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = 'Drama'

In [29]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.genres = data.genres.str.split('|')
data=data.explode('genres')
display(data.groupby(['genres']).count().imdb_id.idxmax())

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama'

In [31]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data=data.loc[data['profit']>0]

data.genres = data.genres.str.split('|')
data=data.explode('genres')

total_profit=data.groupby(['genres']).count().imdb_id.idxmax()
display(total_profit)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
answers['13'] = 'Peter Jackson'

In [33]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.str.split('|')
newdata=data.explode('director')
total_profit=newdata.groupby(['director']).sum().revenue.idxmax()
display(total_profit)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
answers['14'] = 'Robert Rodriguez'

In [35]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')

data.genres = data.genres.str.split('|')
data=data.explode('genres')

data.director = data.director.str.split('|')
data=data.explode('director')

data=data.loc[data['genres']=='Action']
total_profit=data.groupby(['director']).count().imdb_id.idxmax()
display(total_profit)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = 'Chris Hemsworth'

In [37]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')
data=data.explode('cast')
data=data.loc[data['release_year']==2012]
total_profit=data.groupby(['cast']).sum().revenue.idxmax()
display(total_profit)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = 'Matt Damon'

In [39]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')
data=data.explode('cast')
data=data.loc[data['budget']>data['budget'].mean()]
total_profit=data.groupby(['cast']).count().imdb_id.idxmax()
display(total_profit)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = 'Action'

In [41]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')
data=data.explode('cast')

data.genres = data.genres.str.split('|')
data=data.explode('genres')

data=data.loc[data['cast'] == 'Nicolas Cage']
total_profit=data.groupby(['genres']).count().imdb_id.idxmax()
display(total_profit)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker'

In [43]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data=data.loc[data['production_companies'] == 'Paramount Pictures']

data=data.loc[data['profit'] == data['profit'].min()]

display(data.original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '2015'

In [45]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')

total_revenue_list=data.groupby(['release_year'])['revenue'].sum()

total_revenue=total_revenue_list.reset_index()
total_revenue=total_revenue.loc[total_revenue['revenue'] == total_revenue['revenue'].max()]

display(total_revenue.release_year)

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '2014'

In [47]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data=data.loc[data['production_companies'].str.contains('Warner')]
data.drop_duplicates(subset = 'imdb_id', keep = 'first', inplace = True)

data.groupby(['release_year'])['profit'].sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = '9'

In [49]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data.groupby(['month'])['imdb_id'].count().idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = '450'

In [51]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data=data.loc[(data['month'] == 6) | (data['month'] == 7) | (data['month'] == 8)]

data['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
answers['23'] = 'Peter Jackson'

In [53]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data=data.loc[(data['month'] == 1) | (data['month'] == 11) | (data['month'] == 12)]

data.director = data.director.str.split('|')
data=data.explode('director')

data.groupby(['director'])['imdb_id'].count().idxmax()

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Four By Two Productions'

In [55]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['name_len'] = data.original_title.str.len()

data=data.loc[data['name_len'] == data['name_len'].max()]

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

display(data.production_companies)

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

Фильм с кодом tt0443453 снят 2 студиями - Twentieth Century Fox Film Corporation и Four By Two Productions, но в тесте можно было выбрать только Four By Two Productions в качестве ответа

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = 'Midnight Picture Show'

In [57]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.overview = data.overview.str.split(' ')

data['description_len'] = data.overview.apply(len)

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data.groupby(['production_companies'])['description_len'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = ['Inside Out','The Dark Knight','12 Years a Slave']

In [59]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data_sorted = data.sort_values(['vote_average'], ascending=[False])
x=int(round(data_sorted.imdb_id.count()/100))
data_sorted.original_title.head(x)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

В тесте предалгалось выбрать один из сетов из трёх фильмов, но в топ 1% входит больше фильмов (в данном случае - 19), в 
качестве результата я указал те три фильма которые попадают в 1%, а не все отобранные фильмы

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [60]:
answers['27'] = ['Daniel Radcliffe', 'Rupert Grint']

In [1]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.str.split('|')

actors_pair=[]
for row in data.iterrows():
    actors_list=row[1].cast.copy()
    for i1 in range(0,len(actors_list)):
        for i2 in range(i1+1,len(actors_list)):
            actors_pair.append([actors_list[i1],actors_list[i2]])



maximum = 0
maxinddex = 0

for i in range (0,len(actors_pair)):
    counter = actors_pair.count(actors_pair[i]) + actors_pair.count(actors_pair[i][::-1])
    if counter > maximum: 
        maximum = counter
        maxindex = i

display(actors_pair[maxindex], maximum)

['Daniel Radcliffe', 'Rupert Grint']

8

Я знаю что этот вариант - совсем не то что требовалось сделать, но у меня возникли сложности с приведением видов - списки, серии, словари - и так как время поджимает - то я написал вот такой вариант.

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ['Daniel Radcliffe', 'Rupert Grint']}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [2]:
A = [1,2]
B = [2,1]
A == B

False